pogchamp/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pogchamp"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/cleaner')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "remove unnecessary columns, modified the data type and add columns",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference"
							},
							"name": "datatypemod",
							"description": "Modifies Data Type to expected data type"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable3",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          segid as string,",
						"          natid as string,",
						"          product as string,",
						"          priceid as string,",
						"          discount_band as string,",
						"          units_sold as integer,",
						"          manufacturing_price as float,",
						"          sale_price as float,",
						"          gross_sales as float,",
						"          discounts as float,",
						"          sales as float,",
						"          cogs as float,",
						"          profit as float,",
						"          date as date,",
						"          segment as string,",
						"          nationality as string,",
						"          month_number as integer,",
						"          year as integer,",
						"          month_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> datatypemod",
						"datatypemod derive(total_price = manufacturing_price + sale_price) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          segment,",
						"          nationality,",
						"          product,",
						"          discount_band,",
						"          units_sold,",
						"          manufacturing_price,",
						"          sale_price,",
						"          gross_sales,",
						"          discounts,",
						"          sales,",
						"          cogs,",
						"          profit,",
						"          date,",
						"          month_number,",
						"          year,",
						"          month_name,",
						"          total_price",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/flower')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Data Flow Playground",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "tester"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "delhi_dataset",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						},
						{
							"name": "sort1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          State_Union_Territory as string,",
						"          Year as string,",
						"          Power_Requirement_Net_Crore_Units as string,",
						"          Availability_Of_Power_Net_Crore_Units as string,",
						"          Availability_Of_Power_Per_Capita_kiloWatt_Hour as string,",
						"          Installed_Power_Capacity_MegaWatt as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> tester",
						"tester filter(State_Union_Territory=='Delhi') ~> filter1",
						"filter1 sort(asc(Installed_Power_Capacity_MegaWatt, true)) ~> sort1",
						"sort1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/joiner')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Join all Dataset into one dataset",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "mainfk",
								"type": "DatasetReference"
							},
							"name": "main"
						},
						{
							"dataset": {
								"referenceName": "hargafk",
								"type": "DatasetReference"
							},
							"name": "harga"
						},
						{
							"dataset": {
								"referenceName": "segmentfk",
								"type": "DatasetReference"
							},
							"name": "segment"
						},
						{
							"dataset": {
								"referenceName": "negara",
								"type": "DatasetReference"
							},
							"name": "negara"
						},
						{
							"dataset": {
								"referenceName": "harifk",
								"type": "DatasetReference"
							},
							"name": "hari"
						},
						{
							"dataset": {
								"referenceName": "namabulanfk",
								"type": "DatasetReference"
							},
							"name": "namabulan"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "combined",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "join2"
						},
						{
							"name": "join3"
						},
						{
							"name": "join4"
						},
						{
							"name": "join5"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          segid as string,",
						"          natid as string,",
						"          product as string,",
						"          priceid as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> main",
						"source(output(",
						"          priceid as string,",
						"          discount_band as string,",
						"          units_sold as string,",
						"          manufacturing_price as string,",
						"          sale_price as string,",
						"          gross_sales as string,",
						"          discounts as string,",
						"          sales as string,",
						"          cogs as string,",
						"          profit as string,",
						"          date as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> harga",
						"source(output(",
						"          segid as string,",
						"          segment as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> segment",
						"source(output(",
						"          natid as string,",
						"          nationality as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> negara",
						"source(output(",
						"          date as string,",
						"          month_number as string,",
						"          year as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> hari",
						"source(output(",
						"          month_number as string,",
						"          month_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> namabulan",
						"main, harga join(main@priceid == harga@priceid,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1, segment join(main@segid == segment@segid,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2, negara join(main@natid == negara@natid,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join3",
						"hari, namabulan join(hari@month_number == namabulan@month_number,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join4",
						"join3, join4 join(harga@date == hari@date,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join5",
						"join5 select(mapColumn(",
						"          segid = main@segid,",
						"          natid = main@natid,",
						"          product,",
						"          priceid = main@priceid,",
						"          priceid = harga@priceid,",
						"          discount_band,",
						"          units_sold,",
						"          manufacturing_price,",
						"          sale_price,",
						"          gross_sales,",
						"          discounts,",
						"          sales,",
						"          cogs,",
						"          profit,",
						"          date = harga@date,",
						"          segid = segment@segid,",
						"          segment,",
						"          natid = negara@natid,",
						"          nationality,",
						"          date = hari@date,",
						"          month_number = hari@month_number,",
						"          year,",
						"          month_number = namabulan@month_number,",
						"          month_name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['combined.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          segid,",
						"          natid,",
						"          product,",
						"          priceid,",
						"          discount_band,",
						"          units_sold,",
						"          manufacturing_price,",
						"          sale_price,",
						"          gross_sales,",
						"          discounts,",
						"          sales,",
						"          cogs,",
						"          profit,",
						"          date,",
						"          segment,",
						"          nationality,",
						"          month_number,",
						"          year,",
						"          month_name",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_test')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "delhi_dataset",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "combined",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FKEXE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "joiner",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "joiner",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"main": {},
									"harga": {},
									"segment": {},
									"negara": {},
									"hari": {},
									"namabulan": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "direct copy to sql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "joiner",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "getCombined",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "cleaner",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "direct copy to sql",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Copy to sql",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "cleaner",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"datatypemod": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete Table if Exists",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "direct copy to sql",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[prcd].[deletetable]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy to sql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Table if Exists",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "getCombined",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-02-27T10:10:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/joiner')]",
				"[concat(variables('factoryId'), '/dataflows/cleaner')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowexe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "flower",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "flower",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"tester": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-02-24T10:56:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/flower')]"
			]
		}
	]
}